$linkColor: yellow;
$h1Size: 2.5rem;
$headerBackground: rgb(104, 201, 168);
$navColor: rgb(204, 240, 234);
//$navHoverColor: rgb(121, 204, 252);
$navHoverColor: darkcyan;
$navHoverTextColor: #fff;
$headerTitleColor: yellow;
$headerTitleSize: 4vw;
$headerTitleMobilSize: 8vw;