$linkColor: yellow;
$h1Size: 2.5rem;
$headerBackground: rgb(104, 201, 168);
$navColor: rgb(204, 240, 234);
$asideNavColor: rgb(241, 121, 252);
$navHoverColor: rgb(145, 236, 236);
$navHoverTextColor: #fff;
$headerTitleColor: rgb(235, 231, 48);
$headerTitleSize: 4vw;
$headerTitleMobilSize: 8vw;
//$asideBackground: rgb(192, 235, 238);
$asideBackground: darkcyan;