@mixin title ($_size, $_width, $_mb, $_mt) {
    font-size: $_size;
    font-weight: $_width;
    font-family: Arial, Helvetica, sans-serif;
    color: violet;
    margin-bottom: $_mb;
    margin-top: $_mt;
}

@mixin respondTo ($_minWidth, $_maxWidth) {
    @media (min-width: $_minWidth) and (max-width: $_maxWidth){
        @content;
    }
}