.calendar {
    //grid-column: 1/4;
 
    display: grid;
    background-color: rgb(197, 197, 230);
    justify-self: center;
    align-self: start;
        
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: auto auto;
   
}
.calendar_item {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

.calendar_item:nth-child(1) {
    grid-column: 1/span 7;
}