.popup_card {
    display: none; //проверка моб. окон
    grid-column: 2/3;
    grid-row: 1/2;
    
    border-radius: 5px;
    background-color: $cardBackgroundColor;
    border: 1px solid $cardBorderColor;
}
