.container {
    display: grid;
    //gap: 5px 10px;
    gap: 10px 20px;
    min-height: 100vh;

    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 380px 1fr 250px;
    grid-template-areas: 
    'header header header'
    'calendar registration aside'
    'timetable timetable timetable'
    
    'footer footer footer';
    //justify-items: center;
}