.content {
    grid-area: content;
    background-color:rgb(178, 236, 176); 

    display: grid;
    grid-template-columns: 380px 3fr 1fr;
   // grid-template-columns: 400px minmax(50px, 1fr) 100px;
    grid-template-rows: auto auto;
    gap: 10px 10px;
    

}