
.modal_timetable {
    display: none;
    background-color:#fff;
    grid-column: 1/4; //aside 
    
    .content_timetable {
        display: grid;
    
        grid-template-columns: repeat(12, minmax(40px, 1fr));
        grid-template-rows: auto;

        .item_content_timetable {
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid $timetableBorderColor;
            color: $timetableTextColor;
        }
        
        .item_content_timetable:nth-child(1) {
            grid-column: 1/span 12;
        }
        .item_content_timetable:nth-child(14) {
            grid-column: 1/span 12;
        }
        .item_content_timetable:nth-child(27) {
            grid-column: 1/span 12;
        }
        .item_content_timetable:nth-child(40) {
            grid-column: 1/span 12;
        }
        .item_content_timetable:nth-child(53) {
            grid-column: 1/span 12;
        }
        .item_content_timetable:nth-child(66) {
            grid-column: 1/span 12;
        }
        .item_content_timetable:nth-child(79) {
            grid-column: 1/span 12;
        }
    } // end content_timetable

} // end timetable

